* {
   margin: 0;
   padding: 0;
}

@media (max-width: 800px) {
   .content {
      width: 92% !important;
      float: none !important;
   }
}

body {
   background-color: #0B2447;
}

table,
th,
td {
   border: 1px black solid;
   border-spacing: 0;
   width: 50%;
}

td {
   background-color: #A5D7E8;
}

th {
   background-color: #576CBC;
   color: white;
   text-shadow: 1px 1px 1px black;
}

th,
td {
   padding: 15px;
   text-align: center;
}

table {
   width: 100%;
}

.content {
   box-sizing: border-box;
   width: 20%;
   margin-top: 50px;
   margin-left: 4%;
   float: left;
}